/*--------
Font-Face ---------------------------------------- */

/*
@font-face {
	font-family: 'Brandon Grotesque Light';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Light'), url('brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}
*/
@font-face {
	font-family: 'Neutra Text Light Alt';
	font-style: normal;
	font-weight: normal;
	src: local('Neutra Text Light Alt'), url('Neutra-Text-Light-Alt.woff') format('woff');
}
